<h1>Welcome, {{user.displayName}}</h1>

<div class="row">
	<div class="col-sm-6 col-sm-offset-6">
		<table class="table">
		  <theader>
		   <th>Passport Status</th>
		   <th></th>
		  </theader>
		  {{#each user.passportModules as |module|}}
			  {{#if module.connected}}
				  <tr style="background-color: green">
				  	<td colspan="2">{{module.name}}</td>
				  </tr>
				{{else}}
					<tr>
				  	<td>{{module.name}}</td>
				  	<td><a class="btn btn-success" href="#">Connect</a></td>
				  </tr>
				{{/if}}
		  {{/each}}
		</table>
	</div>
</div>


<div class="row">

	{{#if pictures}}
		<div class="col-sm-6">
			<div class="row">
				<h3>Facebook Photos</h3>
				{{#each pictures as |picture|}}
					<div class="col-sm-4">
						<img src="{{picture.picture}}">
					</div>
				{{/each}}
			</div>
		</div>
	{{/if}}

</div>

